# Sequence
An order of a collection

In [1]:
s = "Hello World" # string beigins and ends with quotation marks, here there are 11 characters in this string
# single-line string

In [ ]:
m = """
this is a 
multi-line
string!
"""
# multi-line string

In [7]:
s = '5'
print(type(s))
print(int(s) + 10)

<class 'str'>
15

In [5]:
i = 5
print(type(i))
print(i + 10)

<class 'int'>
15

## Index

In [8]:
notes = "cjkhfcshfls"
notes[2:5] #start from 2 but not including 5

'khf'

## Lists

In [9]:
myList = ["one", 2, 'three']
print(myList)

['one', 2, 'three']

In [10]:
mylist1 = [] # list with 0
mylist2 = [100] # list with 100
print(mylist2 + 5) # list can only concatenate with list

TypeError: can only concatenate list (not "int") to list

In [18]:
my_tools = ["screwdriver","wrench"]
my_hardwares = ["screw","nail"]
my_supplies = my_tools + my_hardwares
my_supplies[0]
my_supplies[2:4] # slicing

['screw', 'nail']

## Tuples
tuples are immutable: after it being created, it cannot be changed, But we can use the slice operation on tuples as well as strings and lists.

In [ ]:
myTuple = ("one", 2, 'three')
myTuple = (100,) #without this comma, then it is an integer, rather than a tuple
myTuple = ()

## Index Operator

In [2]:
s = "Python"
print(s[0]) # python is 0 index

print(len(s))# the length of a string
print(s[len(s)-1]) # show the last item of the string

P
6
n

In [22]:
myList = ["one", 2, "three"]
print(myList[2])

len(myList) # the length of a list

three

3

## The slice operator

In [1]:
# To construct the new tuple. we can slice parts of the old tuple and join up the bits to make the new tuple.
Julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")
print(Julia[2:6])

Julia = Julia[:3] + ("Eat Pray Love", 2010) + Julia[5:] # :3 means until the third word, 5: means start from the fifth word until the last one in the list
print(Julia)

(1967, 'Duplicity', 2009, 'Actress')
('Julia', 'Roberts', 1967, 'Eat Pray Love', 2010, 'Actress', 'Atlanta, Georgia')

In [1]:
a_list = ['a', 'b', 'c', 'd']
print(a_list[:])

['a', 'b', 'c', 'd']

## Concatenation and Repetition
we can concatenate different lists to form a new one

In [4]:
fruit = ["apple", "orange", "banana", "cherry"]

print([1,2] + [3,4])
print(fruit + [5,6,7,8])

[1, 2, 3, 4]
['apple', 'orange', 'banana', 'cherry', 5, 6, 7, 8]

In [10]:
# By using * we can repeat a list

print([0] * 4) # repeat list [0] 4 times
print([0,1] * 4)

fruit = ["apple", "orange", "banana", "cherry"]
print((fruit + [1]) * 4)

[0, 0, 0, 0]
[0, 1, 0, 1, 0, 1, 0, 1]
['apple', 'orange', 'banana', 'cherry', 1, 'apple', 'orange', 'banana', 'cherry', 1, 'apple', 'orange', 'banana', 'cherry', 1, 'apple', 'orange', 'banana', 'cherry', 1]

## Count and Index

- Count: used to count the number of times a letter or letters showed up in a string
- index:  used to locate the letter in a string or list

In [11]:
a = "I have had an apple on my desk before!"
print(a.count("e"))
print(a.count("ha"))

5
2

In [3]:
z = ['atoms', 4, 'neutron', 6, 'proton', 4, 'electron', 4, 'electron', 'atoms']
print(z.count("4")) #print out 0 because "4" is a string here
print(z.count(4))
print(z.count("a")) #print out 0 because the Python only looks after the string "a", not letter a in string 'atoms'

0
3
0

In [8]:
music = "Pull out your music and dancing can begin"
print(music.index("m"))
print(music.index("your")) # locate where the first letter 'y' appears in the string

14
9

In [9]:
bio = ["Metatarsal", "Metatarsal", "Fibula", [], "Tibia", "Tibia", 43, ]
print(bio.index("Metatarsal")) # index should give out where the string first appears in a list

0

## Splitting and Joining Strings
- Split is add something in a string to make it in to a list
- Join is something added to a list to make it into a new string

In [2]:
song = "The rain in Spain..."
wds = song.split() # ()split the strings into different lists when there is blank space 
print(wds)

['The', 'rain', 'in', 'Spain...']

In [4]:
print('leaders and best'.split("e"))
#'e' split the strings when there is e appeared, and e is automatically deleted from the list

['l', 'ad', 'rs and b', 'st']

In [11]:
wds = ["red", "blue", "black"]
glue = ";"
s = glue.join(wds)
print(s)
print(wds) # although join ';', but the value of wds doesn't change
print('***'.join(wds))
print("".join(wds))

red;blue;black
['red', 'blue', 'black']
red***blue***black
redblueblack