# Python Basics

## Week 1

### Values and Data Types

-interger
100

-float
3.14

-string
string is a sequence of characters
e.g. hello world

In [1]:
print(200)

200

### Operators and Operands

**Operator** is one way to combine expressions.

# Addition

2 + 3

# Subtraction

11 - 4

# Multiplication

2 * 3

# division

10/3
10//3 #(truncated division : leaves our the remainder)
10 % 3 #(modulo operator:gives the remainder of 10/3, which is one)

# Exponentiation means to the power of (x)

2**3 # The same as 2^3

## (Advanced Optional Excercise)

Create a list of even numbers from the provided list using a for loop.

In [52]:
# Create a list of even numbers from the provided list
import random as r

print("\n===============")
print("  Process:")
print("===============\n")

a = [r.randrange(1,100) for i in range(1,10)]

result = []

for i in a: 
    print("The {} elements of a is: {}\n".format(a.index(i)+1, i))
    if i % 2 == 0:
        result.append(i)
        print("{} % 2 == 0\n".format(i))
    else:
        print("{} % 2 != 0\n".format(i))

        
print("\n===============")
print("  Solution:")
print("===============\n")
print("The resulting list of even numbers is: {}".format(result))

===============
  Process:
===============

The 1 elements of a is: 5

5 % 2 != 0

The 2 elements of a is: 10

10 % 2 == 0

The 3 elements of a is: 53

53 % 2 != 0

The 4 elements of a is: 70

70 % 2 == 0

The 5 elements of a is: 76

76 % 2 == 0

The 6 elements of a is: 52

52 % 2 == 0

The 7 elements of a is: 82

82 % 2 == 0

The 8 elements of a is: 18

18 % 2 == 0

The 9 elements of a is: 7

7 % 2 != 0


===============
  Solution:
===============

The resulting list of even numbers is: [10, 70, 76, 52, 82, 18]

# FUNCTION CALLS


**Function:**
```python

def function(parameter1, parameter 2, ...):
    
    expression = # Expression containing the parameters
    
    return(expression)

```

In [73]:
def sub(a,b):
    return a-b

def square(x):
    return x**2

print(sub(square(3), square(1+1)))

5

# Data Types

In [81]:
print(type("Hello World!"))
print(type("17")) #because there is quotation marks so even if 17 is an integer, the type of it is string
print("Bruce's beard") #when there is single quotation mark inside, uses double quotation marks outside
print('she said "hi"') #when there is double quotation mark inside, uses single quotation marks outside
print('''"Oh no", she exclaimed, "Ben's bike is broken!"''') #when there is double and single quotation marks inside, uses triple quotation marks outside
print("""This message will span
several lines
of the text.""") #Triple quoted strings can even span multiple lines

<class 'str'>
<class 'str'>
Bruce's beard
she said "hi"
"Oh no", she exclaimed, "Ben's bike is broken!"
This message will span
several lines
of the text.

In [75]:
print(type(17))

<class 'int'>

In [76]:
print(type(3.2))

<class 'float'>

# Type conversion functions

## To convert values from one type into another

-int
to convert to an integer

-float
to convert to a floating number

-str
to convert to a string

In [82]:
print(3.14, int(3.14)) # This doesn't round to the closest integer
print(3.0, int(3.0))
print(-3.999, int(-3.999))
print("2345", int("2345"))
print(17, int(17))

3.14 3
3.0 3
-3.999 -3
2345 2345
17 17

In [83]:
print(float("123.45"))
print(type(float("123.45")))

123.45
<class 'float'>

In [84]:
print(str(17))
print(str(123.45))
print(type(str(123.45)))

17
123.45
<class 'str'>

# Variables

## Variables allows us to store the value of expressions to be used later on in our programs

-start with a letter

-can only contain letters & numbers & _

In [94]:
# setting variables
message = "What's up, Doc?" # message is assigned "What's up, Doc?"
n = 17 # n is assigned 17, DO NOT SAY "n equals 17"
pi = 3.14159 # pi is assigned 3.14159

# reference variables
print(message)
print(n)
print(pi)

What's up, Doc?
17
3.14159

In [95]:
x = 5
print(x)

x = 10
print(x)

5
10

In [96]:
my_variable = 5.5
print(my_variable)

5.5

In [97]:
plants = 2
print(plants)

plants = plants + 1
print(plants)

plants += 1
print(plants)

plants -= 1
print(plants)

2
3
4
3

# Statements and Expressions

## A statement is a complete instruction that the Python program executes.

-Assignment statement

-while statement

-if statement

-for statement

-import statement

## An expression is a combination of literals, variable names, operators, and calls to functions. Expressions need to be evaluated.

In [113]:
print(1 + 1 + (2 *3))

print(len("hello"))

8
5

In [114]:
print(2 * len("hello") + len("goodbye"))

17

In [115]:
x = 2
y = 1
print(square(y + 3))
print(square(y + square(x)))
print(sub(square(y), square(x)))

16
25
-3

In [116]:
total_secs = 7684
hours = total_secs // 3600
secs_still_remaining = total_secs % 3600
minutes = secs_still_remaining // 60
secs_finally_remaining = secs_still_remaining % 60

print("Hrs=", hours, "mins=", minutes, "secs=", secs_finally_remaining)

Hrs= 2 mins= 8 secs= 4

# Upadating Variables

In [120]:
x = 6 # initialize x
print(x)
x = x + 1 # update x
print(x)
x -= 1 # decrement by 1, same as x = x-1
print(x)
x += 3 # increment by 3, same as x = x+3
print(x)

6
7
6
9

# Input

## Input function returns a string value, even if you asked the user to enter their age.

In [7]:
n = input("Please enter your name: ")
print("Hello", n)

Please enter your name: Twyla
Hello Twyla

In [6]:
str_seconds = input("Please enter the number of seconds you wish to convert")
total_secs = int(str_seconds)

hours = total_secs // 3600
secs_still_remaining = total_secs % 3600
minutes = secs_still_remaining // 60
secs_finally_remaining = secs_still_remaining % 60

print("Hrs=", hours, "mins=", minutes, "secs=", secs_finally_remaining)

Please enter the number of seconds you wish to convert4300
Hrs= 1 mins= 11 secs= 40